In [ ]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
plt.style.use('ggplot')
from matplotlib.pyplot import figure
#We import all libraries we used
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (30,15)
pd.options.mode.chained_assignment = None
#We added our dataset 
mny = pd.read_csv('billionairesData.csv')
#This part shows the data types in our dataset
print(mny.shape)
print(mny.dtypes)

mny_numeric = mny.select_dtypes(include=[np.number])
numeric_cols = mny_numeric.columns.values
print(numeric_cols)

mny_non_numeric = mny.select_dtypes(exclude=[np.number])
non_numeric_cols = mny_non_numeric.columns.values
print(non_numeric_cols)

In [ ]:
#Missing values heat map 
cols = mny.columns[:22] 
colours = ['#000099', '#ffff00'] #blue is for missing value and yellow is for not missing value
sns.heatmap(mny[cols].isnull(), cmap=sns.color_palette(colours))

In [ ]:
#Percenrage of missing values
for col in mny.columns:
    pct_missing = np.mean(mny[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

In [ ]:
#How many missing value we have ?(none)
num_missing = mny.isna().sum()
num_missing[:22]

In [ ]:
#Delete the duplicate lines.
mny.drop_duplicates()

In [ ]:
mny.head(2615),mny.tail(2615)

In [ ]:
#Shows us the statistical values like min,max,mean value...
mny.describe().T

In [ ]:
#This part is measure the IQR.
Q1 = mny.quantile(0.25)
Q3 = mny.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

In [ ]:
#Shows the outliers and where are they .
print((mny < (Q1 - 1.5 * IQR)) |(mny > (Q3 + 1.5 * IQR)))

In [ ]:
#Delete the outliers
mny = mny[~((mny < (Q1 - 1.5 * IQR)) |(mny > (Q3 + 1.5 * IQR))).any(axis=1)]
mny.shape

(1814, 18)

In [ ]:
#Shows the outliers and where are they .
print((mny < (Q1 - 1.5 * IQR)) |(mny > (Q3 + 1.5 * IQR)))

In [ ]:
#Statistical values after delete outliers
mny.describe().T

In [ ]:
#Histograms
mny.hist(figsize=(30,15))

In [ ]:
#All histograms in a one table
mny.boxplot(figsize=(30,15))

In [ ]:
#Rank  boxplot
mny.boxplot(column=['rank'],figsize=(30,15))

In [ ]:
#Year boxplot
mny.boxplot(column=['year'],figsize=(30,15))

In [ ]:
#Company foundation year boxplot
mny.boxplot(column=['company_founded'],figsize=(30,15))

In [ ]:
#Billionaires age boxplot
mny.boxplot(column=['demographics_age'],figsize=(30,15))

In [ ]:
#Billiionaires wealth box plot
mny.boxplot(column=['wealth_worth in billions'],figsize=(30,15))

In [ ]:
#This is a scatter plot whic is shows us company foundation years and billionaires wealth
sns.relplot(data = mny, x = 'company_founded', y = 'wealth_worth in billions',
            hue='demographics_gender',height=10,aspect=2)
plt.show()

In [ ]:
#How many billionaires in which industry? shows this with bar plot
city = mny['wealth_how_industry'].value_counts(ascending=False)
mny_city = mny.filter(['wealth_how_industry'], axis=1)
mny_city['count'] = 1
grouped_city = mny_city.groupby('wealth_how_industry', as_index=False,sort=False).sum()
grouped_city.sort_index(ascending=False)
grouped_city = grouped_city.sort_values('count', ascending=False)                            
plt.figure(figsize=(30,15))
sns.barplot(data=grouped_city, x='count', y='wealth_how_industry')
plt.xlabel('Count of billioners',fontsize=15)
plt.ylabel('Name of the industry',fontsize=15)
plt.title('Industries of Billioners', fontsize=20)

In [ ]:

plt.figure(figsize=(30,15))
g = sns.FacetGrid(data=mny, hue='wealth_how_industry', aspect=3, height=4)
g.map(sns.kdeplot, 'demographics_age', shade=True)
plt.xlabel('Age')
g.add_legend(title='wealth_how_industry')

In [ ]:
#How much money does anyone
plt.figure(figsize=(30,15))
sns.distplot(mny['wealth_worth in billions'])
plt.xscale('log')

en zengin ilk 10 kisi???

In [ ]:
#Top 10 Billionaires
mny = mny.sort_values(by = ["wealth_worth_in_billions"], ascending=False).head(10)
plt.figure(figsize=(30, 15))
sns.histplot(x="name", hue="wealth_worth_in_billions", data=mny)
plt.show()

In [ ]:
#The average age of our billionaires
plt.figure(figsize=(30,15))
sns.distplot(mny['demographics_age'], bins=15)
plt.title('Average Age of Billionaires')
plt.xlabel('Billionaires Age')
plt.show()

In [ ]:
#Shows us inheritance in sectors.
sns.displot(mny, x="company_sector", hue="wealth_how_inherited",
            multiple='stack',height=10,aspect=2,)

In [ ]:
sns.catplot(x="wealth_worth_in_billions", y="company_founded",
            col="demographics_gender", aspect=.70,height=10,
            kind="swarm", data=mny)

In [ ]:
sns.catplot(x="wealth_how_category", y="year", hue="demographics_gender", 
            kind="bar", 
            height=10,data=mny)

In [ ]:
#Countplot code
sns.catplot(y="company_type", hue="wealth_how_inherited", kind="count",
            palette="pastel", edgecolor=".6",height=10,aspect=2,
            data=mny)

In [ ]:
sns.displot(mny,x='location_country_code',bins=3)

In [ ]:
sns.catplot(data = mny, x = 'wealth_how_inherited', 
            y = 'location_country_code',hue='demographics_age'
            ,kind='swarm',height=10,aspect=2)
plt.show()

In [ ]:

sns.relplot(x="demographics_gender", y='company_sector' ,
                hue=('demographics_age'),data=mny,
                height=10, aspect=.7)

In [ ]:
#Distributions of gende by company sectors
sns.catplot(data = mny, x = 'demographics_gender', 
            y ='company_sector',height=5,aspect=4)

plt.show()

In [ ]:
sns.relplot(data = mny, x ='wealth_worth_in_billions',
            y ='company_type',hue='company_sector',height=5)
plt.show()

In [ ]:
sns.pairplot(mny)

In [ ]:
#Measuring correlation
plt.subplots(figsize=(30,15))
corr=mny.corr()
sns.heatmap(corr,annot=True, cmap='Blues')
plt.title("correlation between the variable")
plt.xticks(rotation=45)

In [ ]:
#We changed the all columns name
mny.columns =['name', 'rank', 'year', 'company_founded', 'company_name',
       'company_relationship', 'company_sector', 'company_type',
       'demographics_age', 'demographics_gender', 'location_citizenship',
       'location_country_code', 'location_region', 'wealth_type',
       'wealth_worth_in_billions', 'wealth_how_category',
       'wealth_how_industry', 'wealth_how_inherited']

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
#We tried all models and got the results.
mny.name= le.fit_transform(mny['name'])
mny.year= le.fit_transform(mny['year'])
mny.company_founded= le.fit_transform(mny['company_founded'])
mny.company_relationship= le.fit_transform(mny['company_relationship'])
mny.company_sector= le.fit_transform(mny['company_sector'])
mny.company_type= le.fit_transform(mny['company_type'])
mny.demographics_age= le.fit_transform(mny['demographics_age'])
mny.demographics_gender= le.fit_transform(mny['demographics_gender'])
mny.location_citizenship= le.fit_transform(mny['location_citizenship'])
mny.company_name = le.fit_transform(mny['company_name'])
mny.location_region= le.fit_transform(mny['location_region'])
mny.location_country_code= le.fit_transform(mny['location_country_code'])
mny.wealth_type= le.fit_transform(mny['wealth_type'])
mny.wealth_how_category= le.fit_transform(mny['wealth_how_category'])
mny.wealth_how_industry= le.fit_transform(mny['wealth_how_industry'])
mny.wealth_how_inherited= le.fit_transform(mny['wealth_how_inherited'])
mny.wealth_worth_in_billions= le.fit_transform(mny['wealth_worth_in_billions'])
mny.head()

In [ ]:
from sklearn.model_selection import train_test_split 
predictors = mny.drop(["wealth_worth_in_billions"], axis=1)
target = mny["wealth_worth_in_billions"]
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size = 0.25, random_state = 0)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

models = []
models.append(('Decision Tree (CART)',DecisionTreeClassifier())) 
models.append(('K-NN', KNeighborsClassifier()))
models.append(('RandomForestClassifier', RandomForestClassifier()))

for name, model in models:
    model = model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    from sklearn import metrics

    print("%s -> ACC: %%%.2f" % (name,metrics.accuracy_score(y_test, y_pred)*100))

In [ ]:
mny.hist()